* {
  font-family: Helvetica, Arial, sans-serif;
}
a {
  text-decoration: none;
}
body {
  margin: 0;
  padding-left: 36px;
  margin-right: 36px;
}
button {
  padding: 10px;
  font-size: 1.1rem;
  min-width: 50px;
  min-height: 30px;
}

input {
  font-size: 1.3rem;
  color: grey;
}
.card {
  padding: 10px;
  border: 1px grey solid;
  border-radius: 10px;
  margin-bottom: 8px;
}
.grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: stretch;
}
